<div>
  <h1> <%= @job.title %> </h1>
  <br />
  <h2>
    <span class="company"><%= @job.company_name %>. </span>
    <br />
    <span class="location">Location: <%= @job.location %></span>
    <br />
    <%= @job.url %>
  </h2>
</div>

<br />
<div>
  <%= @job.description %>
</div>

<br />
<div>
<h3>Apply for this position</h3>
<p>
  <%= @job.apply_to %>
</p>
</div>

<div>
  <div class="tag_lists">
    Tag Lists : 
    <% @job.skills.each do |skill| %>
    <%= link_to skill.name, show_tag_path(:tag_id => skill.id) %>
    <% end %>
  </div>
  <div class="salary">
    Salary :
    <%= @job.salary %>
  </div>
  <div class="job_type">
    Job Type :
    <%= @job.job_type %>
  </div>
</div>

<br />
<%= link_to 'Back', root_path %> | <%= link_to "Edit", edit_job_path(@job) %>
